In [6]:
# !pip install pandas
# !pip install openpyxl

In [13]:
import pandas as pd

# Replace 'your_file.xlsx' with the actual path to your XLSX file
file_path = 'sql_samples.xlsx'

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(file_path, header=None)

# Display the DataFrame
print(df)

                                                 0   \
0                                       Table Name:
1                         Natural Language Question
2                        What is ACD total revenue?
3    What is the total sales for each brand in YTD?
4                            What is LRPâ€™s avg ASP?
..                                              ...
288             GLANCE_VIEWS_SAME_PERIOD_LY_QUARTER
289            ORDERED_REVENUE_SAME_PERIOD_LY_MONTH
290          ORDERED_REVENUE_SAME_PERIOD_LY_QUARTER
291              ORDERED_UNITS_SAME_PERIOD_LY_MONTH
292            ORDERED_UNITS_SAME_PERIOD_LY_QUARTER

                                                    1   2   3   4   5   6   \
0    `amer-amzaccelerator-data-us-qa.amztech_bqdset... NaN NaN NaN NaN NaN
1                                            SQL Query NaN NaN NaN NaN NaN
2    SELECT SUM(ORDERED_REVENUE) AS ORDERED_REVENUE... NaN NaN NaN NaN NaN
3    SELECT SUM(ORDERED_REVENUE) AS ORDERED_REVENUE... NaN NaN NaN NaN NaN
4    SELECT AVG(AVERAGE_ORDERED_REVENUE_PRICE) FROM... NaN NaN NaN NaN NaN
..                                                 ...  ..  ..  ..  ..  ..
288                                            INTEGER NaN NaN NaN NaN NaN
289                                              FLOAT NaN NaN NaN NaN NaN
290                                              FLOAT NaN NaN NaN NaN NaN
291                                              FLOAT NaN NaN NaN NaN NaN
292                                              FLOAT NaN NaN NaN NaN NaN

     7   8   9   10   11
0   NaN NaN NaN NaN  NaN
1   NaN NaN NaN NaN  NaN
2   NaN NaN NaN NaN
3   NaN NaN NaN NaN
4   NaN NaN NaN NaN
..   ..  ..  ..  ..  ...
288 NaN NaN NaN NaN  NaN
289 NaN NaN NaN NaN  NaN
290 NaN NaN NaN NaN  NaN
291 NaN NaN NaN NaN  NaN
292 NaN NaN NaN NaN  NaN

[293 rows x 12 columns]

In [29]:
start, end = 0, len(df.iloc[:, 0])
for i in range(len(df.iloc[:, 0])):
    if df.iloc[i, 0] == "Schema:":
        start = i + 1

In [45]:
database = []
table = {"column_names" : [], "column_types" : [], "db_id" : "", "table_names" : []}

table['column_names'].append([-1, '*'])
for i in range(start, end):
    table['column_names'].append([0, df.iloc[i, 0]])
    table['column_types'].append(df.iloc[i, 1])

table['db_id'] = df.iloc[0, 1][1:-2]
table['table_names'].append([df.iloc[0, 1][1:-2]])

database.append(table)

In [47]:
import json

file_path = 'sql_samples.json'

with open(file_path, 'w') as json_file:
    json.dump(database, json_file, indent=2)